.workforce {
  width: 100%;
  padding: 0px 40px
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  gap: 40px;
}

.workforce-table .table {
  overflow-y: scroll;
  height: 600px;
}
.workforce-table .table::-webkit-scrollbar{
  display: none;
}
.workforce-table th{
  background-color: #25194a !important;
  height: 57px;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 16px 10px !important;
}
.workforce-table .ant-table-pagination{
  display: none;
}
.workforce-table th:first-child{
  border-top-left-radius: 5px !important;
}
.workforce-table th:last-child{
  border-top-right-radius: 5px !important;
}
.workforce-table .ant-card{
  width: 40%;
  margin: 30px 0px 0px 30px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
}
.workforce-table .ant-card-body{
  padding: 0px !important;
}
.workforce-table tr{
  background-color: #fff;
  border: 0px;
}
.workforce-table tr:nth-child(even){
  background: #FAFAFA;
}
.workforce-table tr td{
  padding: 10px 12px !important;
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #00000099;
}
.workforce-table tr td:first-child{
  text-align: left;
}
.workforce-table tr td:last-child{
  font-weight: 500;
  color: #000;
}
.top-graph-heading{
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0.02em;
  padding-left: 40%;
  color:#000000CC;
  margin: 50px 0;

}
.employees-turnover {
  display: flex;
  gap: 20px;
  border: 1px solid #DFE0EB;
  background-color: #fff;
  border-radius: 8px;
  margin: 10px 30px;
}

.employees-turnover_left {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.employees-turnover_left-top {
  display: flex;
  padding-bottom: 30px;
  justify-content: space-between;
  align-items: flex-end;
}

.name-container {
  display: flex;
  flex-direction: column;
}

.name-container_name {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #252733;
}

.name-container_date {
  font-family: Mulish;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #9fa2b4;
}

.button-container {
  display: flex;
  gap: 25px;
}

.current-position {
  display: flex;
  gap: 9px;
  align-items: center;
}

.purple {
  border: 2px solid #3751ff;
}

.grey {
  border: 2px solid #dfe0eb;
}

.line {
  top: calc(50% - 0px / 2);
  height: 0px;
  width: 15px;
}

.current-position_name {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1px;
  color: #9fa2b4;
}

.employees-turnover_right {
  width: 30%;
  border-left: 1px solid #dfe0eb;
  padding-left: 19px;
}

thead[class*="ant-table-thead"] th {
  background: unset;
  background-color: #25194a;
  color: white;
  font-weight: 600;
}
