
.workload-graph-details2{
    padding: 15px 15px 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.workload-items2{
    display: flex;
    flex-direction: column;
}
.workload-items2 .ant-btn{
    width: 72px;
    height: 14px;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 0px !important;
    border: none !important;
    border-radius: 0px !important;
}
.workload-items2 .total-to-be{
    background: #2EC0F94A;
    color: #2EC0F9;
    margin-bottom: 8px;
}
.workload-items2 .total-done{
    color: #25194A;
    background: #EBEDF0;
    margin-bottom: 8px;
}
.workload-items2 .Unloaded{
    background: #13A32126;
    color: #13A321;
    margin-bottom: 8px;
}
.workload-items2 .reccieved{
    background: #FF110021;
    color: #FF1100;
    margin-bottom: 8px;
}
.workload-addfile2 .ant-btn{
    width: 105px;
    height: 25px;
    background-color: #0184EC1A;
    color:  #0184EC;
    padding: 0px;
    border-radius: 0px;
    border: none;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.02em;
}
.workload-graph2 .graph{
    width: 100%;
    display: flex;
}
.workload-graph2 .graph canvas{
    width: 600px;
}
.workload-graph2 .graph h3{
 writing-mode: vertical-rl;
 text-orientation: mixed;
 transform: rotate(-180deg);
 padding: 130px 0px;
 margin: 0px;
}

    